.ocultar {
    opacity: 0;
  }
   
  .notas{
    background-color: rgb(195, 157, 230);
    text-align: center;
    font-size: xx-large;
  }

  #main{
    text-align: center;
    background: rgb(167,127,194);
    background: linear-gradient(90deg, rgba(167,127,194,1) 0%, rgba(64,154,185,1) 13%, rgba(82,152,109,1) 24%, rgba(29,253,32,1) 29%, rgba(58,152,190,1) 55%, rgba(85,174,64,1) 69%, rgba(213,93,93,1) 84%, rgba(129,112,89,1) 100%, rgba(59,139,212,0.9836309523809523) 100%, rgba(125,154,181,1) 100%, rgba(59,139,212,1) 109%, rgba(59,139,212,0.9836309523809523) 127%, rgba(59,139,212,0.9836309523809523) 131%, rgba(59,139,212,0.9836309523809523) 133%, rgba(59,139,212,0.9836309523809523) 164%, rgba(59,139,212,1) 196%, rgba(59,139,212,0.9836309523809523) 200%);;
  }